/**
 * AdBlock Detector
 * By Recouse
 * http://recouse.me
 */

.ipsMessage.adblockDetectedMessage {
	margin-bottom: 0;
	border-radius: 0;
}

.ipsMessage.adblockDetectedMessage p {
	margin: 0;
}

.ipsMessage.adblockDetectedMessage a:not(.ipsButton) {
	border-radius: 50%;
	border-bottom: 0;
	padding: 6px 10px;
}

.ipsMessage.adblockDetectedMessage #helpTopicLink {
	margin-right: 5px;
	padding: 6px 11px;
}

.adblockDetectedMessage_fixed {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.23);
}